.name{
  font-family:Baskerville;
  text-align: right;
  color:rust;
  margin:0;
}

.contactInfo{
  font-family:Baskerville;
  text-align:right;
  color:rust;
  margin:0;
}

div{
  border:2px black;
  
margin-left:20px;
padding-left:20px}

.skills{
  margin:0;
  font-family:Baskerville;
}
.header{
  padding-top:20px}
.education{
  margin-left:30px}







