.name{
  font-family:Baskerville;
  text-align: right;
  color:rust;
  margin:0;
}

.contactInfo{
  font-family:Baskerville;
  text-align:right;
  color:rust;
  margin:0;
}

.skills{
  margin:0;
  font-family:Baskerville;
}
.header{
  padding-top:20px}




p{
color: rust;
}
.education{font-family:Baskerville;}
