.name{
  font-family:Baskerville;
  text-align: right;
  color:rust;
  margin:0;
}

.contactInfo{
  font-family:Baskerville;
  text-align:right;
  color:rust;
  margin:0;
}

div{
  border:2px solid black;}

.skills{
  margin:0;
  font-family:Baskerville;
}
.header{
  padding-top:20px}
.education{
  margin-bottom:5px}






.education{
  font-family:Baskerville;

    margin-top:auto;
    margin-right:auto;
    margin-bottom:auto;
    margin-left:auto;
}
